<header class="site-header">
    <div class="header-container">
        <!-- Logo / brand -->
        <a class="brand" href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/images/pfp.jpg' | relative_url }}" alt="Brand">
        </a>

        <!-- Header buttons -->
        <nav class="header-buttons">
            <a href="/" class="header-btn">
                <i class="fa-solid fa-house"></i>
                Character Gallery
            </a>
            <a href="/social_media.html" class="header-btn">
                <i class="fa-brands fa-discord"></i>
                Social Media
            </a>
            <a href="https://www.inprnt.com/profile/milanovicmihael/" class="header-btn">
                <i class="fa-solid fa-print"></i>
                Prints
            </a>
            <a href="https://ko-fi.com/milanovicmihael" class="header-btn kofi-btn">
                <img src="{{ '/assets/images/kofi/kofi_symbol.svg' | relative_url }}" alt="Ko-fi logo"
                    class="kofi-logo">
                Support My Work
            </a>
        </nav>
    </div>



    <div class="line-container">
        <img src="{{ '/assets/images/UI/line.png' | relative_url }}" alt="Divider" class="header-divider">
    </div>
</header>