.title-terraria-au {
    display: flex;
    align-items: center;
    justify-content: center;
}

.terraria-logo {
    width: 40%;
    height: auto;
}

.bio {
    margin-bottom: 1rem;
}

.bio p {
    font-size: large;
    margin-top: 0;
}