.title-decor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding-top: 1rem;
}

.title-decor h1 {
    margin: 0;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
}

.title-decor .decor {
    width: 5em;
    height: 2.5em;
    background-image: url('/assets/images/UI/text_decor.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-inline: 1em;
    opacity: 0.3;
}


.title-decor .decor.right {
    transform: scaleX(-1);
}

.bio {
    margin: 0 1rem 0 1rem;
}

.bio p {
    font-size: large;
}