<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha384-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9XKT2NT3H2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-9XKT2NT3H2');
  </script>

</head>

<body>
  <header class="site-header">
    <div class="container">
      <!-- Logo / brand -->
      <a class="brand" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/pfp.jpg' | relative_url }}" alt="Brand">
      </a>

      <!-- Header buttons -->
      <nav class="header-buttons">
        <a href="https://discord.com/invite/E457hxCxpZ" class="header-btn">
          <i class="fa-brands fa-discord"></i>
          Discord Server
        </a>
        <a href="https://x.com/MilanovicMihael" class="header-btn">
          <i class="fa-brands fa-twitter"></i>
          Twitter
        </a>
        <a href="https://bsky.app/profile/milanovicmihael.bsky.social" class="header-btn">
          <i class="fa-brands fa-bluesky"></i>
          BlueSky
        </a>
        <a href="https://ko-fi.com/milanovicmihael" class="header-btn kofi-btn">
          <img src="{{ '/assets/images/kofi/kofi_symbol.svg' | relative_url }}" alt="Ko-fi logo" class="kofi-logo">
          Support me on Ko-fi!
        </a>
      </nav>
    </div>
  </header>

  <main class="container content">
    {{ content }}
  </main>

  <script src="/assets/js/fadein.js"></script>
</body>

</html>